
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

 
 body {
    font-family: "popping", sans-serif;
    color: black;
    background-position: center; 
    background-size: contain;
    background-color: white;
    
}    

.header {
    text-align: center;
    justify-content: center;
}
.image1 {
    z-index: -1;
}

.khalifa {
background-image: url(photographer.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 600px;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

}

.sunday {
    border: 1px solid white;
    padding: 30px;
    color: white;
    
}

.navber {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-top: -10px;
    margin-bottom: 10px;
    /* background-color:rgb(247, 243, 243) ; */
    /* width: 300px; */
}
.nav {
    background-color:rgb(231, 228, 228) ;
    justify-content: center;
    display: flex;
    outline: none;
    /* padding: 10px; */
    border-radius: 5px;
    
}
.nav a {
    padding: 10px;
    width: 100px;
}

.nav a:hover {
    background-color: rgb(173, 171, 171);
    
}

.photo1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  
}
.photo1 img {
    width: 70%;
}
@media screen and(max-width:700px){
    .photo1 img {
        width: 90%;
    }
    .tobiloba {
        width: 90%;
    }
}

.tobiloba {
    width: 70%;
    display: flex;
    margin: 20px;
    padding: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* letter-spacing: 1px; */
    background-color: rgb(219, 214, 214);
}

input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    margin-top: 5px;

}


form {
    width: 100%;
    margin-top: 30px;
}
button {
    color: white;
    width: 100%;
    border: none;
    padding: 10px;
    font-size: 18px;
    background-color:rgb(97, 95, 95);
    margin-bottom: 20px;

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;

}